<div class="box">
    <p><i class="bi bi-check2-circle"></i> The product will be delivered within the next 3 business days. </p>
    <button class="btn btn-secondary"><a href="/">Back</a></button>
</div>
<button class="btn btn-secondary" id="admin"><a href="/admin">Admin mode</a></button>