<div class="table-box">
    <table class="table table-hover mt-5 align-middle">
        <thead>
            <tr>
                <th>Product</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Unit price</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td name="title"><p>iPhone 14 Pro 128GB Deep Purple</p></td>
                <td class="text-center" name="amout">1</td>
                <td class="col-2 text-center" name="price">1 249,00 €</td>
                <td><button class="btn btn-secondary"><a href="/buy">Buy</a></button></td>
            </tr>
            <tr>
                <td name="title"><p>Apple AirPods Max - Space Gray</p></td>
                <td class="text-center" name="amout">1</td>
                <td class="text-center" name="price">629,00 €</td>
                <td><button class="btn btn-secondary" ><a href="/buy">Buy</a></button></td>
            </tr>
            <tr>
                <td name="title"><p>Burga Tough MagSafe Compatible Case For iPhone 14 Pro - Mystic River</p></td>
                <td class="text-center" name="amout">1</td>
                <td class="text-center" name="price">44,95 €</td>
                <td><button class="btn btn-secondary"><a href="/buy">Buy</a></button></td>
            </tr>
        </tbody>
    </table>
</div>