<div class="container">
    <h4 class="text-center">Fill the form</h4>
    <form class="mt-2" action="/saved" method="POST">
        <div class="mb-2">
            <label>Full name</label>
            <input type="text" name="info" class="form-control" />
        </div>
        <div class="mb-2">
            <label>Your address</label>
            <input type="text" name="address" class="form-control" />
        </div>
        <div class="mb-2 col-4">
            <label>Paymant method</label>
            <select class="form-select" name="payment">
                <option selected>Choose ...</option>
                <option value="paypal">PayPal</option>
                <option value="mastercard">Mastercard</option>
                <option value="visa">Visa</option>
            </select>
        </div>
        <div class="mb-2 col-10">
            <label>Shipping method</label>
             <select class="form-select" name="delivery">
                <option selected>Choose ...</option>
                <option value="post">Pick up at the LP EXPRESS terminal</option>
                <option value="home">Home delivery</option>
            </select>
        </div>
        <button class="btn btn-secondary"><a href="/success">Confirm</a></button>
    </form>
</div>
